<h1>Event Categories</h1>
<ul>
  <li>My Events</li>
  <li>All Events</li>
  <li>Story</li>
  <li>Gathering</li>
  <li>Food</li>
  <li>Grow</li>
  <li>Health</li>
  <li>Hunt</li>  
  <li>Water</li>  
</ul>
