
<h1 class="navigation-list-header">Event Categories</h1>
  <h1 class="header">Event Categories</h1>
  <ul class="navigation-list" id="categories-list">
    <li class="active">All Categories</li>
  </ul>
