<h1 class="navigation-list-header">Event Categories</h1>
<ul class="navigation-list">
  <li class="active">All Categories</li>
  <li>My Events</li>
  <li>Food</li>
  <li>Gathering</li>
  <li>Grow</li>
  <li>Health</li>
  <li>Hunt</li>
  <li>Story</li>
  <li>Water</li>
</ul>
