<div class="navigation-menu">
  <h1 class="header">Event Categories</h1>
  <ul>
    <li>All Categories</li>
    <li>My Events</li>
    <li>Food</li>
    <li>Gathering</li>
    <li>Grow</li>
    <li>Health</li>
    <li>Hunt</li>  
    <li>Story</li>
    <li>Water</li>  
  </ul>
</div>
