<div class="event">
  <p>hin wei's hunting trip</p>
  <p class="date">1st May</p>
  <p>The forest</p>
  <p>Hunting</p>
  <br>
</div>
<div class="event">
  <p>Sammi's gathering thing</p>
  <p class="date">2nd May</p>
  <p>The gathering place</p>
  <p>Place</p>
  <br>
</div>
<div class="event">
  <p>Roger's cooking time</p>
  <p class="date">3rd May</p>
  <p>The camp fire</p>
  <p>Food</p>
  <br>
</div>
<div class="event">
  <p>Scott's fishing trip</p>
  <p class="date">4th May</p>
  <p>River</p>
  <p>Fishing</p>
  <br>
</div>
<div class="event">
  <p>Lisa's story time</p>
  <p class="date">5th May</p>
  <p>Big rock</p>
  <p>Story</p>
  <br>
</div>
<div class="event">
  <p>Shing mei's cookout</p>
  <p class="date">6th May</p>
  <p>Village hall</p>
  <p>Food</p>
  <br>
</div>
<div class="event">
  <p>Padro Fernandaz's water run</p>
  <p class="date">7th May</p>
  <p>Water hole</p>
  <p>Water</p>
  <br>
</div>