<h1 class="navigation-list-header">Events</h1>
<ul id="mainMenu" class="navigation-list">
  <div class="cursor"></div>
  <li id="search-events" class="active" data-target="categories">Search Events</li>
  <li id="my-events" data-target="myEvents">My Events</li>
  <li id="create-event" data-target="createEvent">Create Event</li>
</ul>
