<h1 class="navigation-list-header">Events</h1>
<ul id="mainMenu" class="navigation-list">
  <div class="cursor"></div>
  <li id="search-events" class="active">Search Events</li>
  <li id="my-events">My Events</li>
</ul>

